*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-color: #f7f5ff;
}

legend {
    float: none;
  }

.main{
    min-height: 100vh;
    padding-bottom: 90px;
}

.cartHeader{
    box-shadow: 0 0 10px rgb(201, 201, 201);
    /* position: fixed;
    top: 0px; */
    width: 100%;
}

.activeLocationTab{
    background-color: black !important;
    color: white !important;
}

.activeDate{
    color: #7461C6 !important;
    border-color: #7461C6 !important;
}
.activeTime{
    color: #7461C6 !important;
    border-color: #7461C6 !important;
}

.lineText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.line {
    width: 100px;
    height: 2px;
    background-color: #ccc;
}

.text {
    font-size: 16px;
    color: #000;
}

.cartServName{
    font-size: 16px !important;
    width: 50%;
    font-weight: 600 !important;
}

#crossBtn{
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    margin-left: auto;
    cursor: pointer;
}

.minusBtn{
    background-color: #f7f5ff;
}
.addBtn{
    background-color: #f7f5ff;
}

/* button styling */
.btnWrap{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* margin-top: -15px; */
    /* box-shadow: 0 0 10px rgb(192, 192, 192); */
    width: max-content;
    /* margin: -15px auto 0px auto; */
    border-radius: 0.375rem;
}

.minusBtn{
    /* display: none; */
    /* z-index: 2; */
    width: max-content;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    margin-right: -2px;
    font-size: 16px;
    background-color: #f7f5ff;
    border: none;
}

.minusBtn:hover{
    background-color: #f7f5ff;
    color: #6c757d;
}
.minusBtn:active{
    background-color: #f7f5ff;
    color: #6c757d;
}

.countdiv{
    background-color: #f7f5ff;
    display: block;
    border-radius: 0px;
    border-right: none;
    border-left: none;
    font-size: 16px;
    border: none;
}

.countdiv:hover{
    background-color: #f7f5ff;
    color: #6c757d;
}
.countdiv:active{
    background-color: #f7f5ff;
    color: #6c757d;
}

.addBtn{
    /* width: 90px; */
    /* z-index: 2; */
    background-color: #f7f5ff;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    cursor: pointer;
    margin-left: -2px;
    font-size: 16px;
    border: none;
}

.addBtn:hover{
    background-color: #f7f5ff;
    color: #6c757d;
}
.addBtn:active{
    background-color: #f7f5ff;
    color: #6c757d;
}



#payBtn{
    cursor: pointer;
}

.addBtn:hover{
    background-color: #eae5ff;
}
.minusBtn:hover{
    background-color: #eae5ff;
    color: black;
}

.billWrap{
    box-shadow: 0 0 10px rgb(201, 201, 201);
}

.payment{
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.paymentWrap{
    background-color: #7461C6;
}

.popupContainer{
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    padding: 0 7px;
    display: none;
    align-items: end;
}

.popup{
    width: 100%;
    max-height: 100vh;
    min-height: 70vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#currentLoca{
   padding: 16px 10px;
   box-shadow: none;
   padding-bottom: 0px;
}

#currentLoca::placeholder{
    color: rgb(195, 195, 195);
}

#currentLocaField{
    height: 80px;
}

#currentLocaLege{
    font-size: 14px;
    margin: 0 !important;
    padding: 0 !important;
}

#manualLoca{
    display: none;
    width: 100%;
    transition: 10s;
    margin-top: 10px;
}

#building::placeholder{
    color: rgb(195, 195, 195);
}
#landmark::placeholder{
    color: rgb(195, 195, 195);
}

#nextBtn1{
    position: fixed;
    bottom: 10px;
    width: 82%;
    background-color: #7461C6;
    color: white;
    display: block !important;
}

#timeSlot{
    display: none;
}

.timeCardCont{
    width: 100%;
    overflow: auto;
    margin-top: 50px !important;
}

.timeCardWrap{
    width: max-content;
    margin-bottom: 20px;
}

.timeCard{
    min-width: 100px;
    height: 50px;
    white-space: nowrap;
    background-color: white;
    color: black;
    border: 1px solid black;

}

.smTime{
    overflow-x: auto;
    display: none;
}

.smTimeWrap{
    width: max-content;
    margin-bottom: 20px;
}

.smTimeCard{
    white-space: nowrap;
}

#submitBtn{
    margin: 0px auto;
    background-color: #7461C6;
    position: fixed;
    bottom: 10px;
    width: 87%;
}

#thanku{
    display: none;
}

#done{
    position: fixed;
    background-color: #7461C6;
    cursor: pointer;
    bottom: 10px;
    width: 87%;
}