@font-face {
    font-family: 'font-extrabold';
    src: url('../font/metropoli/Metropolis-ExtraBold.otf');
}
@font-face {
    font-family: 'font-bold';
    src: url('../font/metropoli/Metropolis-Bold.otf');
}
@font-face {
    font-family: 'font-medium';
    src: url('../font/metropoli/Metropolis-Medium.otf');
}
@font-face {
    font-family: 'font-regular';
    src: url('../font/metropoli/Metropolis-Regular.otf');
}
@font-face {
    font-family: 'font-extrabold';
    src: url('../font/metropoli/Metropolis-ExtraBold.otf');
}
@font-face {
    font-family: 'font-extrabold';
    src: url('../font/metropoli/Metropolis-ExtraBold.otf');
}
@font-face {
    font-family: 'font-extrabold';
    src: url('../font/metropoli/Metropolis-ExtraBold.otf');
}
@font-face {
    font-family: 'font1-extrabold';
    src: url('../font/proximanova/Fontspring-DEMO-proximanova-extrabold.otf');
}
@font-face {
    font-family: 'font1-regular';
    src: url('../font/proximanova/Fontspring-DEMO-proximanova-regular.otf');
}
@font-face {
    font-family: 'font1-light';
    src: url('../font/proximanova/Fontspring-DEMO-proximanova-light.otf');
}
@font-face {
    font-family: 'font2-extrabold';
    src: url('../font/plusjakarta/PlusJakartaSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'font2-regular';
    src: url('../font/plusjakarta/PlusJakartaSans-Regular.ttf');
}
@font-face {
    font-family: 'font2-light';
    src: url('../font/plusjakarta/PlusJakartaSans-Light.ttf');
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'font2-regular', sans-serif;
}

.mainLoader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999
}

.loaderLogo{
    width: min(70%, 500px);
    margin-bottom: 10px;
}

.loaderLogo img{
    width: 100%;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    color: #7461C6;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

.mainHeader h4{
    font-size: 18px !important;
    color: #404040;
}

.logo{
    height: 50px;
    padding-top: 10px;
}

.logo img{
    height: 85%;
}

.headerMenu{
    display: none;
}

.navLi{
    list-style: none;
    color: #646464;
}

.fa-map-marker-alt{
    color: #7461C6;
    font-size: 16px;
}

.address{
    font-size: 12px;
}

#currentLoca{
    background-color: #7461C6;
}

#manualLoca{
    display: none;
    width: 100%;
    transition: 10s;
    margin-top: 10px;
}

#locaPopup{
    position: fixed;
    top: 0px;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: start;
    background-color: white;
}

#canclePopup{
    position: fixed;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatText{
    /* font-weight: 700; */
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #755BCD;
    font-family: 'font2-extrabold', sans-serif;
    letter-spacing: -1px;
}

.searchBox{
    /* box-shadow: 0 0 15px #cccbcb; */
    border-radius: 10px;
    overflow: hidden;
    border: 0.6px solid rgb(165, 165, 165);
}

.searchIcon{
    font-size: 16px;
    padding: 14px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 10px;
    color: #7461C6;
    /* box-shadow: -6px 0 10px rgb(0, 0, 0, 0.5); */
}

.searchInpu{
    outline: none;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    margin-left: -5px;
    /* box-shadow: 6px 0 10px rgb(0, 0, 0, 0.5); */
}

.searchInpu::placeholder{
    font-size: 14px;
}

.categoryWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.categoryCard{
    width: 120px;
    height: auto;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
}

.categoryCard p{
    margin-top: 10px;
    font-size: 12px;
    color: #404040;
}

.categoryImg{
    transition: 0.3s;
    box-shadow: 0 0 10px rgb(220, 220, 220);
    width: 90% !important;
    padding: 10px;
}

.categoryCard:hover .categoryImg{
    box-shadow: 0 0 10px rgba(144, 144, 144, 0.3);
}

/* popup modal style */
.popupContent{
    display: none;
}

.popupContainer{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgba(152, 152, 152, 0.4);
    z-index: 9999;
}

#popup{
    background-color: white;
    width: 100%;
    max-height: 80vh;
    min-height: 65vh;
    position: absolute;
    bottom: -60vh;
    transition: 0.4s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow-y: auto;
}

#openContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.close-button {
    color: #888;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 0px;
    left: 90%;
}

.carouselImg{
    border-radius: 10px;
}

.bannerImg{
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.trendingSevice h3{
    color: rgb(64, 64, 64);
}

.trendItem{
    width: 350px;
    box-shadow: 0 0 10px rgba(112, 112, 112, 0.1);
}

.trentName{
    font-size: 20px !important;
}

.trendItem img{
    border-radius: 10px;
    padding: 10px;
}

.trendItem p{
    color: #404040;
}
.trendItem i{
    color: #404040;
}

.deskFooter{
    display: none;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px rgba(85, 85, 85, 0.2);
    z-index: 22;
}

.navItem{
    color: #404040;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.navItem p{
    font-size: 12px;
}

.navItem i{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 750px){
    .footer{
        display: none;
    }
    .headerMenu{
        display: block;
    }
    .deskFooter{
        display: block;
    }
}

@media screen and (max-width: 750px){
    .categoryWrap{
        justify-content: center;
    }   
}

@media screen and (max-width: 385px) {
    .categoryCard{
        width: 110px;
    }
}

@media screen and (max-width: 354px) {
    .categoryCard{
        width: 95px;
    }
}